<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem-vindo</title>
    <link rel="stylesheet" th:href="@{/css/boas-vindas.css}">
</head>

<body>
    <main class="content">
        <div class="message">
            <img th:src="@{/images/carta_boas_vindas.jpg}" alt="cartas_boas_vindas">
        </div>
        <div class="selo">
            <img th:src="@{/images/selo_taverna.png}" alt="selo_taverna">
        </div>
    </main>
</body>

</html>